{% extends "base.html" %}

{% block title %}{{ section.title }} | {{ config.title }}{% endblock %}

{% block content %}

<h1>{{ section.title }}</h1>
{% if section.description %}
    <p>{{ section.description }}</p>
{% endif %}

{% if section.pages %}
        {% for post in section.pages %}
        <div class="post-item">
            <div class="post-left">
                <a href="{{ post.permalink }}">{{ post.title }}</a>
                <a href="{{ post.permalink }}" class="read-more">Read more →</a>
            </div>
            <div class="post-right">
                <time class="post-date">{{ post.date | date(format="%Y-%m-%d") }}</time>
            </div>
        </div>
        {% endfor %}
{% else %}
    <p class="no-posts">暂无文章</p>
{% endif %}

{% endblock %}